# Default is to keep crlf line endings
text=auto

README.md eol=crlf
*.DOC eof=crlf
*.Z80 eol=crlf
*.Z80 linguist-language=Assembler
*.COM binary
*.SUB eol=crlf
*.lbr binary
*.for eof=crlf
*.for linguist-language=Assembler
*.toc eof=crlf

