# Default is to keep crlf line endings
text=auto

README.md text eol=crlf
*.DOC text eof=crlf
*.Z80 text eol=crlf linguist-language=Assembler
*.COM binary
*.SUB text eol=crlf
*.lbr binary
*.for text eof=crlf linguist-language=Assembler
*.toc text eof=crlf

