# Default is to keep crlf line endings
text=auto

README.md text eol=crlf
*.DOC text eof=crlf
*.Z80 text eol=crlf linguist-language=Assembly
*.COM binary
*.SUB text eol=crlf
*.lbr binary
*.LBR binary
*.for text eof=crlf linguist-language=Assembly
*.FOR text eof=crlf linguist-language=Assembly
*.toc text eof=crlf
*.SLR text eof=crlf

